{
  "extends": "airbnb",
  "installedESLint": true,
  "plugins": [
      "react"
  ],
  "rules": {
    "no-plusplus": [2, {
      "allowForLoopAfterthoughts": true
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [
        ".js",
        ".jsx"
      ]
    }],
    "import/no-extraneous-dependencies": 0
  }
}